@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

.grid-container {
    display: grid;
    grid-template: "header header" 60px
                    "menu content"  auto
                    "footer footer" 5px /
                    170px auto;
}

p, label { 
    margin: 10px;
}

h1 {
    margin: 0;
}

h2 { 
    margin: 10px;
}

.logo {
    height:60px;
}

a {
    color:white;
    text-decoration: none;
 }

body {
    background-color:black;
    color: white;
    margin: 0;
    font-family: "Roboto";
}

.header {
    grid-area: header;
    margin: 0;
    background-color:red;
}

.content {
    grid-area: content;
    margin:0;
    padding:0;
}

.footer {
    grid-area: footer;
    bottom: 0;
    background-color: darkblue;
    font-family: 'ZCOOL KuaiLe';
    position: fixed;
    width:100%;
    text-align: center;
}

.notflix {
    font-size: 50px;
    padding: 20px;
    vertical-align: top;
}

.menu {
    grid-area: menu;
    background-color:darkblue;
}

.menu ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu ul li a {
    display: block;
    padding: 15px 20px;
    text-align: left;
    font-size: 20px;
}

.menu-btn, .menu-icon {
    display: none;
}

.boton {
    margin: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    font-weight:bolder;
}

.menu li:hover,
.menu-btn:hover {
    background-color:black;
    font-weight:bolder;
    cursor:pointer;
}

/* Tablet: */
@media (max-width: 900px) {
    .grid-container {
        display: grid;
        grid-template: 'header'  60px
                       'menu'    45px
                       'content' auto
                       'footer'  10px;
    }

    .menu ul {
        margin: 0;
        list-style: none;
        display: inline-flex;
        flex-direction: row;
    }

    .menu ul li a {
        font-size: 16px;
    }

}

/* Celphone: */
@media (max-width: 560px) {
    .grid-container {
        display: grid;
        grid-template: 'header'  40px
                       'menu'    40px
                       'content' auto
                       'footer'  6px;
    }

    .logo {
        height:40px;
    }

    .notflix {
        font-size: 30px;
    }

    .menu {
        margin: 80px;
        padding: 0;
        position: absolute;
        width: 160px;
        margin-left: -160px;
        transition-duration: .3s;
    }

    .menu-icon {
        margin: -10px;
        display: block;
        height: 40px;
        cursor: pointer;
    }

    #menu-btn:checked ~ .menu {
        margin-left: 0;
        max-height: 250px;
    }
    
    .menu ul { 
        flex-direction: column;
    }
 }

@media (max-width: 400px) {
    .notflix {
        display: none;
    }
}

/**************************************************/
/*             articles                           */
/**************************************************/
section {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    text-align: center;
}

article {
    text-align: left;
    vertical-align: middle;
    flex: 25vw;
    max-width: 260px;
    padding: 5px;
}

article img {
    width: 90%;
    min-width: 150px;
    max-width: 25vw;
}

article img:hover {
    transition: all 1s;
    transform: scale(1.1);
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    filter:brightness(120%);
    box-shadow: 10px 10px 40px purple;
}

article img:active {
    box-shadow: 10px 10px 40px yellow;
}